<template>

  <v-app id="app">
    <!-- Приложение -->
    <!-- Модальное окно выбора организации -->

    <CompanySelectModal></CompanySelectModal>
    <!-- Меню навигации слева > -->
    <v-navigation-drawer  app clipped fixed v-model="drawer">
      <v-list>
        <v-list-item to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Главная</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/prescriptions">
          <v-list-item-action>
            <v-icon>mdi-alert</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Предписания</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/employees">
          <v-list-item-action>
            <v-icon>mdi-folder</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Сотрудники</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <v-list-item to="/learning">
          <v-list-item-action>
            <v-icon>mdi-calendar</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Обучение</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <v-list subheader>
        <v-subheader>Тестовые роуты</v-subheader>
      </v-list>

      <v-list-item to="/positions">
        <v-list-item-action>
          <v-icon>mdi-alert</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Добавление должностей</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item to="/employeesAdd">
        <v-list-item-action>
          <v-icon>mdi-alert</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Добавление сотрудников</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

      <v-list-item to="/EventsAdd">
        <v-list-item-action>
          <v-icon>mdi-alert</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title>Добавление событий</v-list-item-title>
        </v-list-item-content>
      </v-list-item>

    </v-navigation-drawer>
    <!-- < Меню навигации слева -->

     <!-- Заголовок окна с меню -->
      <v-app-bar app  clipped-left dense fixed>
         <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
         <!-- <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon> -->
        <v-btn color="black">Выберите организацию</v-btn>
      </v-app-bar>

      <!-- Убираем верхний отступ -->
      <v-content class="pt-1">
        <router-view></router-view>
      </v-content>

      <!-- Подвал > -->
      <v-footer app dark height="auto">
        <v-layout justify-center row wrap>
          <v-btn class="mx-3 white--text" icon to="/">
            <v-icon size="24px">mdi-home</v-icon>
          </v-btn>
          <v-btn class="mx-3 white--text" icon to="/about">
            <v-icon size="24px">mdi-alert</v-icon>
          </v-btn>
          <v-btn class="mx-3 white--text" icon>
            <v-icon size="24px">mdi-folder</v-icon>
          </v-btn>
          <v-btn class="mx-3 white--text" icon>
            <v-icon size="24px">mdi-calendar</v-icon>
          </v-btn>
        </v-layout>
      </v-footer>
      <!-- < Подвал -->
  </v-app>

</template>

<script>
// import HelloWorld from './components/HelloWorld';

import CompanySelectModal from "./views/CompanySelectModal.vue";


export default {
  name: "App",
  components: {
    CompanySelectModal
  },
  data: () => ({
    drawer: true,
    mainMenu: [],
    name: ""
    //
  }),

  mounted() {
    if (localStorage.name) {
      this.name = localStorage.name;
    }
  },

  // методы
  methods: {
    changeRoute(selectObj) {
      // eslint-disable-next-line
      console.log(selectObj);
    }
  },

  // наблюдатели
  watch: {
    name(newName) {
      localStorage.name = newName;
    }
  }
};
</script>
