// компонент "О программе"
<template>
    <v-container>
        о программе
    </v-container>
</template>

<script>
    export default {
        name: "Employees"
    }
</script>

<style scoped>

</style>