// компонент "Окно выбора организации"
<!-- Модальное окно выбора организации -->
<template>
    <div class="text-xs-center">
        <v-dialog v-model="dialog" width="500">
            <template v-slot:activator="{ on }">
                <v-btn color="red lighten-2" dark v-on="on">Click Me</v-btn>
            </template>
            <v-card>
                <v-card-title class="headline black lighten-2" primary-title>Выбор организации</v-card-title>
                <v-card-text>Выберите организацию с документами котрой будете работать.</v-card-text>
                <v-divider></v-divider>
                <v-select></v-select>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" text="" @click="dialog = true">I accept</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    export default {
        mount: "#app",
        // название компонента
        name: "CompanySelectModal",
        // даные
        data: () => ({
            dialog: true
        }),
        // дочерние компоненты
        components: {}
    };
</script>

