// компонент "Компании"

<template>
    <v-layout row justify-center>

    </v-layout>
</template>


<script>

    export default {
        name: "Company",
        data: () => ({})
    };


</script>


