<template>
  <!--Компонент для добавления сотрудников-->
  <v-container fluid pa-0>
    <!-- <v-flex>
      Компонент EmployeesAdd использует EmployeesService
      <br />
      <span class="display-1">Новый сотрудник</span>
      <br />
      организация: название организации {{this.$config}}
    </v-flex>-->

    <!--начало формы-->
    <v-container grid-list-md text-xs-center>
      <v-row></v-row>

      <v-row>
        <v-col cols="12" md="6">
          <!-- Поле фамилия -->
          <v-text-field
            class="pa-0"
            placeholder="Фамилия"
            required
            :rules="[required]"
            v-model="employee.mname"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <!-- Поле имя -->
          <v-text-field
            class="pa-0"
            placeholder="Имя"
            required
            :rules="[required]"
            v-model="employee.fname"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <!-- Поле отчество -->
          <v-text-field
            class="pa-0"
            placeholder="Отчество"
            required
            :rules="[required]"
            v-model="employee.lname"
          ></v-text-field>
        </v-col>

        <v-col cols="12" md="6">
          <!-- Поле адрес прописки -->
          <v-text-field
            class="pa-0"
            placeholder="Адрес прописки"
            required
            :rules="[required]"
            v-model="employee.domicile"
          ></v-text-field>
        </v-col>
      </v-row>

      <v-row>
        <!-- Поле выбор даты рождения -->
        <v-col cols="12" _sm="6" md="6">
          <v-menu
            v-model="menu1"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
           _full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                class="pa-0"
                v-model="employee.birthDate"
                label="Дата рождения"
                prepend-icon="mdi-calendar"
                readonly
                required
                :rules="[required]"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker v-model="employee.birthDate" @input="menu1 = false"></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="6">
          <!-- Поле выбор пола -->
          <v-radio-group class="pa-2" v-model="employee.gender" row label="Пол:">
            <v-radio key="male" label="мужской" value="male"></v-radio>
            <v-radio key="female" label="женский" value="female"></v-radio>
            <v-radio key="other" label="другой" value="other"></v-radio>
          </v-radio-group>
        </v-col>
      </v-row>
      <v-row>
        <v-flex xs12>
          <v-divider>разделитель</v-divider>
        </v-flex>
      </v-row>

      <v-row>
        <v-col cols="12" md="6">
          <!-- Поле выбор подразделения -->
          <v-select
                  class="pa-0"
                  label="Подразделение"
                  :items="newItems"
                  required
                  :rules="[required]"
                  v-model="employee.DepartmentId"
          ></v-select>
        </v-col>

        <v-col cols="12" md="6">
          <!-- Поле выбор должности -->
          <v-select
                  class="pa-0"

                  label="Должность"
                  :items="newPositions"
                  required
                  :rules="[required]"
                  v-model="employee.PositionId"
          ></v-select>
        </v-col>
      </v-row>

      <v-row>
        <!-- Поле выбор даты трудоустройства -->
        <v-col cols="12" md="6">
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            _full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
              class="pa-0"
                v-model="employee.hireDate"
                label="дата приема"
                prepend-icon="mdi-calendar"
                readonly
                required
                :rules="[required]"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker @input="menu2 = false" v-model="employee.hireDate"></v-date-picker>
          </v-menu>
        </v-col>


 <v-col cols="12" md="6">
          <!-- Поле отчество -->
          <v-text-field
            class="pa-0"
            placeholder="номер удостоверения"
            required
            :rules="[required]"
            v-model="employee.номерудостоверения"
          ></v-text-field>
        </v-col>




      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <!-- Поле выбор даты истечения удостоверения -->
          <v-menu
            v-model="menu3"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            _full-width
            min-width="290px"
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                class="pa-0"
                v-model="employee.датаудостоверения"
                label="истекает"
                prepend-icon="mdi-calendar"
                readonly
                required
                :rules="[required]"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker @input="menu3 = false" v-model="employee.датаудостоверения"></v-date-picker>
          </v-menu>
        </v-col>

        <v-col cols="12" md="6">
          <v-checkbox hide-details label="руководитель подразделения" v-model="employee.is_leader"></v-checkbox>
          <!-- TODO: добавить модель после добавления поля в модели БД -->
          <v-checkbox hide-details label="освобожден от мероприятий" v-model="employee.is_free"></v-checkbox>
          <v-checkbox hide-details label="уволен" v-model="employee.fired"></v-checkbox>
        </v-col>

      </v-row>

      <v-flex xs12>
        <v-divider>разделитель</v-divider>
      </v-flex>

        <!-- Кнопки формы -->

        <!-- дополнительная таблица с данными по сотруднику "Пройденные проверки и инструктажи" -->
        <v-data-table
        :headers="headers"
        :items="desserts"
      >
       <template v-slot:top>
        <v-toolbar flat>
          <v-toolbar-title>Пройденные проверки и инструктажи</v-toolbar-title>
        </v-toolbar>
      </template>

      </v-data-table>

      <v-btn  class="ma-2" color="red" @click="clear">Очистить форму</v-btn>
      <v-btn  class="ma-2" color="green" @click="create">Сохранить</v-btn>








      <!-- диалоговое окно с текстом ошибки -->
      <div class="text-xs-center">
        <v-dialog v-model="dialog" width="500">
          <v-card>
            <v-card-title class="headline red">Ошибка</v-card-title>
            <v-card-text>
              <div class="danger-alert" v-if="error">{{error}}</div>
            </v-card-text>
          </v-card>
        </v-dialog>
      </div>
    </v-container>

    <!-- <v-form>
      <v-text-field
        placeholder="Рабочий адрес электронной почты"
        required
        :rules="[required]"
        v-model="employee.email"
      ></v-text-field>
      <v-switch v-model="employee.gender" :label="`Пол: ${employee.gender.toString()}`"></v-switch>
    </v-form>-->
  </v-container>
</template>


<!-- Скрипты компонента -->
<script>
import EmployeesService from "@/services/EmployeesService";
import DepartmentsService from "@/services/DepartmentsService";
import PositionsService from "@/services/PositionsService";

export default {
  name: "EmployeesAdd",
  data: () => ({
    // menu: false,
    modal: false,
    menu1: false,
    menu2: false,
    menu3: false,

    // Объект данных Сотрудник
    employee: {
      mname: null, // 'Фамилия' *
      fname: null, // 'Имя' *
        lname: null, // 'Отчество' *
        birthDate: null, // 'Дата рождения' *
        domicile: null, // 'Адрес прописки' *
        gender: "male", // 'Пол' *
        hireDate: null, // 'Дата трудоустройства' *
        is_leader: false, //'статус руководитель подразделения' *
        PositionId: 1, // null, // 'Должность'
        DepartmentId: 1, // null, // 'Подразделение' *
        fired: false, // 'Уволен' *
        is_free: false,
        // TODO: проверить
        датаудостоверения: null, // дата удостоверения TODO: проверить
        // TODO: проверить
        номерудостоверения: ""
    },
      error: null,
      required: value => {
        return !!value || "Обязательно к заполнению.";
      },
      // переменная отображения диалога
      /* TODO: решить вопрос с выводом диалога, либо это будет отдельный
           компонент на уровне приложения либо еще как нибудь. */
      dialog: false,

      // для комбобокса
      newItems: [],
      newPositions: [],


// мок для данных дополнительной таблицы пройденных проверок и инструктажей
      headers: [
          {
        text: 'Дата',
        align: 'left',
        value: 'date',
    },
    {text: 'Название', value: 'name'},
    {text: 'Вид проверки', value: 'type'},
],
      desserts: [
          {
              date: '01-02-2019',
              name: "Проверка знаний по охране труда",
              type: "Первичная проверка",
          },
          {
              date: '01-02-2019',
              name: "Проверка знаний по охране труда",
              type: "Первичная проверка",
          },
          {
              date: '01-02-2019',
              name: "Проверка знаний по охране труда",
              type: "Первичная проверка",
          },
      ],

  }),

  async mounted() {
    // Получаем список отделов для селектора
    // TODO: подумать о минимизации полученых данных возможно сделать поиск по отделам от введенных символов (от 3)
    var items = (await DepartmentsService.index()).data

    // eslint-disable-next-line
    console.log("Полученные данные по подразделениям с бэкенда" )
    console.log(items )

    var newItems = [];
    items.forEach(({ id, name }) => {
      newItems.push({
        value: id,
        text: name
      });
    });

    // eslint-disable-next-line
    console.log("Выбранные данные по подразделениям для списка в меню")
    console.log(newItems)
    this.newItems = newItems;

    // Получаем список должностей для селектора
    // TODO: подумать о минимизации полученых данных возможно сделать поиск по должностям  от введенных символов (от 3)
    var positions = (await PositionsService.index()).data;

    var newPositions = [];
    positions.forEach(({ id, name }) => {
      newPositions.push({
        value: id,
        text: name
      });
    });

    this.newPositions = newPositions;
  },

  // срабатывает при нажатии на кнопку отправки
  methods: {
    async create() {
        this.error = null;
        this.dialog = false;

        /*
        TODO: исключить валидацию булевых значений перед отправкой
        на сервер после нажатия кнопки отправки (так как значение по умолчанию нам нужно),
        но оно не всегда true исключить можно по названию ключа либо по индексу.
        */

        // отработкак ошибки не заполнения необходимых полей
        const areaAllFieldsfilledIn = Object.keys(this.employee).every(key => {
            if (key == "is_leader" || key == "fired") {
                return true;
            }
            return !!this.employee[key];
        });

        // если каждый элемент при приведении к типу Bool не true выходим из проверки условия
        // проверка необходимости вывода диалога о необходимости заполнения нужных полей
      if (!areaAllFieldsfilledIn) {
        this.error = "пожалуйста заполните все необходимые поля";
        this.dialog = true;
        return;
      }

      console.log(this.employee);

      // выполняем
      try {
        await EmployeesService.post(this.employee);
        this.$router.push({
          name: "employees"
        });
      } catch (err) {
        // eslint-disable-next-line
        console.log(err);
      }
    },

    // Метод очистки данных формы
    clear() {
      this.employee = {
        mname: null, // 'Фамилия' *
        fname: null, // 'Имя' *
        lname: null, // 'Отчество' *
        birthDate: null, // 'Дата рождения' *
        domicile: null, // 'Адрес прописки' *
        gender: "male", // 'Пол' *
        hireDate: null, // 'Дата трудоустройства' *
        is_leader: false, //'статус руководитель подразделения' *
        PositionId: 1, // null, // 'Должность'
        DepartmentId: null, // null, // 'Подразделение' *
        fired: false, // 'Уволен' *        };
        датаудостоверения: null // дата удостоверения TODO: проверить
      };
    }
  }
};
</script>


<!-- Кастомные внедренные стили -->
<style scoped>
.danger-alert {
  color: red;
  font-weight: 500;
}

#styled-input {
  height: 40px;
  font-size: 20pt;
}

.rounded-card {
  border-radius: 5pt;
}

.styled-input label[for] {
  height: 40px;
  font-size: 20pt;
}

.input-name {
  background-color: #ffffff;
  margin-top: 10px;
}

.compact-form {
  transform: scale(0.875);
  transform-origin: left;
}
</style>
