<!--
{
        "id": 1,
        "fname": "",
        "mname": "",
        "lname": "",
        "birthDate": "",
        "domicile": "",
        "gender": "",
        "hireDate": "",
        "is_leader": true,
        "fired": true,
        "createdAt": "",
        "updatedAt": "",
        "DepartmentId": 1,
        "PositionId": 1
    },
    {
      -->


<template>
    <v-container>
        <v-container>
            {{employees}}
        </v-container>


        <!--    TODO: возможно придется делать кастомные поля в таблице решение по ссылки через slots -->
        <!--    https://stackoverflow.com/questions/60303086/merge-2-values-and-put-in-a-v-data-table-column-vuetify-->


        <!--
    You can render a virtual column with the use of slots with v-data-table. But you need to have a column full_name.

    <v-data-table :headers="headers" :items="items">
      <template #item.full_name="{ item }">{{ item.first_name }} {{ item.last_name }}</template>
    </v-data-table>
    export default {
      data() {
        return {
          items: [
            { first_name: "Peter", last_name: "Johnson" },
            { first_name: "Simon", last_name: "Walker" }
          ],
          headers: [{ text: "Full Name", value: "full_name" }]
        };
      }
    };
    https://vuetifyjs.com/en/components/data-tables#slots
    -->
        <h1>Структура компаний</h1>Здесь хранится структура всех ваших компаний
        <v-data-table :headers="headers" :items="employees" :items-per-page="10" class="elevation-1">
            <template #item.full_name="{ item }">{{ item.fname }} {{ item.mname }} {{ item.lname }}</template>
            <template #item.position_text="{ item }">{{PositionById(item.PositionId)}}</template>
            <template #item.department_text="{ item }">{{DepartmentById(item.PositionId)}}</template>

               <!-- <td class="text-xs-left">{{ companyForId (props.item.id) }}</td> -->
        </v-data-table>
    </v-container>
    <!--временно подключаем компонент с окном ввода данных о сотруднике-->
    <!-- <EmployeesAdd></EmployeesAdd> -->
</template>

<script>
    import EmployeesService from "../services/EmployeesService";
    import CompaniesService from "../services/CompaniesService";
    import PositionsService from "../services/PositionsService";
    import DepartmentsService from "../services/DepartmentsService";

    // импортировали другой компонент с окном редактирования данных о сотруднике
    // import EmployeesAdd from '@/views/EmployeesAdd.vue'

    export default {
        data() {
            return {
                // заголовки колонок таблицы
                headers: [
                    {text: "ID", value: "id"},
                    {text: "Дата приема", value: "hireDate"},

                    {text: "Полное имя", value: "full_name"}, // виртуальное поле
                    {text: "Должность текстом", value: "position_text"}, // виртуальное поле
                    {text: "Подразделение текстом", value: "department_text"}, // виртуальное поле

                    {text: "Фамилия", value: "mname"},
                    {text: "Имя", value: "fname"},
                    {text: "Отчество", value: "lname"},
                    {text: "Дата рождения", value: "birthDate"},
                    {text: "Адрес прописки", value: "domicile"},
                    {text: "Пол", value: "gender"},
                    {text: "Дата трудоустройства", value: "hireDate"},
                    {text: "Руководитель подразделения", value: "is_leader"},
                    {text: "освобожден от  мероприятий", value: "fired"},
                    {text: "Уволен", value: "is_free"},

                    // TODO: нужно переводить по айди в текст и вообще подумать о том,
                    //  чтоб эти справочники кэшировать
                    {text: "Должность", value: "PositionId"},
                    {text: "Подразделение", value: "DepartmentId"},

                    {text: 'Удостоверение №', value: ''},
                    {text: 'Стаж', value: ''}, // кастомное поле виртуальное
                ],
                // данные таблицы
                employees: [],
                companies: [],
                positions: [],
                departments: [],

            };
        },


        name: "Employees",

        mounted() {
            this.fetchEmployees();
            this.fetchCompanies();
            this.fetchPositions();
            this.fetchDepartments();
        },

        // дочерние компоненты
        components: {
            // EmployeesAdd
        },

        watch: {},

        // методы
        methods: {

            PositionById: function (id) {
                for (let position of this.positions) {
                    if (position.id === id) {
                        return position.name;
                    }
                }
                return "false"
            },

            CompanyById(id) {
                for (let company of this.companies) {
                    if (company.id == id) {
                        return company.name;
                    }
                }
                return "false"
            },

            DepartmentById(id) {
                for (let department of this.departments) {
                    if (department.id == id) {
                        return department.name;
                    }
                }
            },

            test() {
                return "sddsd";
            },

            async fetchEmployees() {
                this.employees = (await EmployeesService.index()).data;
                // eslint-disable-next-line
                console.log("Массив содержащий данные о сотрудниках")
                console.log(this.employees);

            },

            async fetchCompanies() {
                this.companies = (await CompaniesService.index()).data;
                // eslint-disable-next-line
                console.log("Массив содержащий данные о компаниях")
                console.log(this.companies);

            },


            async fetchPositions() {
                this.positions = (await PositionsService.index()).data;
                console.log("Массив содержащий данные о должностях")
                console.log(this.positions);
            },

            positionForId(id) {
                for (let position of this.positions) {
                    if (position.id == id) {
                        return position.name;
                    }
                }
            },

            async fetchDepartments() {
                this.departments = (await DepartmentsService.index()).data;
                console.log("Массив содержащий данные о подразделениях")
                console.log(this.departments);
            },

            departmentForId(id) {
                for (let department of this.departments) {
                    if (department.id == id) {
                        return department.name;
                    }
                }
            }
        },

        computed: {}
    }

    </script>
// стили
<style scoped></style>
