<template>
  <v-container flex ma-0 pt-10>
    <v-tabs>
      <!--вкладка Создание-->
      <v-tab>
        <v-icon left>mdi-account-circle</v-icon>Создание
      </v-tab>
      <!--вкладка Контроль-->
      <v-tab>
        <v-icon left>mdi-account-circle</v-icon>Контроль
      </v-tab>
      <!--вкладка Результат-->
      <v-tab>
        <v-icon left>mdi-account-circle</v-icon>Результаты
      </v-tab>
      <!--контент для первой вкладки-->
      <v-tab-item flex ma-0 pt-10>
        <v-container>
          <v-layout body-2>Создание мероприятия</v-layout>
          <v-layout caption>Отправьте сотрудников на инструктаж или проверку знаний</v-layout>
        </v-container>
        <v-container>
          <v-tabs>
            <v-tab>Инструктажи</v-tab>
            <v-tab>Проверки</v-tab>
            <v-tab-item>
              <v-data-table :headers="headers" :items="desserts" class="elevation-1">
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.company }}</td>
                  <td class>{{ props.item.department }}</td>
                  <td class>{{ props.item.event_date }}</td>
                  <td class>{{ props.item.status }}</td>
                  <td class>{{ props.item.create_date }}</td>
                </template>
              </v-data-table>
            </v-tab-item>

            <v-tab-item>
              <v-data-table :headers="headers" :items="desserts" class="elevation-1">
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.company }}</td>
                  <td class>{{ props.item.department }}</td>
                  <td class>{{ props.item.event_date }}</td>
                  <td class>{{ props.item.status }}</td>
                  <td class>{{ props.item.create_date }}</td>
                </template>
              </v-data-table>
            </v-tab-item>
          </v-tabs>
        </v-container>
      </v-tab-item>
      <!--контент для второй вкладки-->
      <v-tab-item color="green">
        <v-container>
          <v-layout body-2>Оценка мероприятия</v-layout>
          <v-layout caption>Отметьте сотрудников, которые прошли инструктаж или проверку знаний</v-layout>
        </v-container>
      </v-tab-item>

      <!--контент для третьей вкладки-->
      <v-tab-item>
        <v-container>
          <v-card color=" " flat>
            <v-card-text>Архив мероприятий</v-card-text>
          </v-card>
        </v-container>
      </v-tab-item>
    </v-tabs>

    <v-container grid-list-md text-xs-center>ТУТ ОКОНЧАНИЕ РАЗДЕЛА</v-container>
  </v-container>
</template>


<script>
export default {
  data() {
    return {
      headers: [
        { text: "Компания", value: "company" },
        { text: "Подразделение", value: "department" },
        { text: "Дата мероприятия", value: "event_date" },
        { text: "Статус", value: "status" },
        { text: "Дата создания", value: "create_date" }
      ],
      desserts: [
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        },
        {
          company: "ЗАО Волгаспецмаш",
          department: "название отдела",
          event_date: "25.01.2019",
          status: "Новое",
          create_date: "25.01.2019"
        }
      ]
    };
  }
};
</script>