<template>
    <v-container>
        Обучение
                <Company> </Company>
    </v-container>
</template>

<script>
import Company from '@/views/Company.vue';

    export default {
        name: "Learning",
        components: {
            Company
        },
    }
</script>

<style scoped>

</style>
