<template>
    <v-container>


        <v-toolbar>
            <v-dialog v-model="dial" max-width="500px" >
                <template v-slot:activator="{ on }">
                    <v-btn v-on="on">добавить должность</v-btn>
                </template>
                <v-card>
                    <v-card-title>
                        <span class="headline">EEEEEEEEEEEEEEEE</span>
                    </v-card-title>

                    <v-card-text>
                        <v-container class="blue">
                            <v-text-field
                                    placeholder="Наименование"
                                    v-model="position.name"
                                    single-line
                                    hide-details
                                    required
                                    :rules="[required]"
                            ></v-text-field>
                            <v-checkbox label="руководящая должность" v-model="position.is_leader"></v-checkbox>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="red" >Отменить</v-btn>
                        <v-btn color="green" @click="positionadd ">Добавить должность</v-btn>
                    </v-card-actions>

                </v-card>
            </v-dialog>

            <v-container v-model="uploader" >
                <input id="fileUpload" type="file" hidden/>
                <!-- @change="importPositions"> -->
                <v-btn ma-5 @click="chooseFiles">Выберите файл для импорта</v-btn>
                <v-btn @click="send">Обработать</v-btn>

            </v-container>

        </v-toolbar>

        <v-text-field
                append-icon="mdi-magnify"
                label="Найти"
                single-line
                hide-details
                @input=" fetchPositions "
        ></v-text-field>

        <span class="test"></span>
        <br/>

        <v-data-table
                light
                :headers="headers"
                :items="positions"
                :options.sync="pagination"
                :items-per-page="10"
                footer-props.items-per-page-tex="Строк на странице"
                class="elevation-1"
        >
            <!--
            item это каждый элемент
            https://vuetifyjs.com/ru/components/data-tables#crud-actions
            -->

            <template v-slot:item.action="{ item }">
                {{ item }}
                <v-icon
                        small
                        class="mr-2"
                        @click="editItem(item)"
                        this.dialog = true
                >
                    mdi-pencil
                </v-icon>
                <v-icon
                        small
                        @click="deleteItem(item)"
                >
                    mdi-delete
                </v-icon>
            </template>
        </v-data-table>

    </v-container>
</template>

<script>
    import PositionsService from "../services/PositionsService";


    // Функция разборки CSV до JSON
    // http://techslides.com/convert-csv-to-json-in-javascript
    function csvJSON(csv) {
        csv = csv.replace(/(\r)/gm, "");
        // eslint-disable-next-line
        console.log(csv);
        // делим построчно
        var lines = csv.split("\n");
        var result = [];
        // первая строка будет названиями полей разделенных запятыми
        var headers = lines[0].split(",");
        // для оставшихся строк разделяем поля
        for (var i = 1; i < lines.length; i++) {
            var obj = {};
            var currentline = lines[i].split(",");
            console.log(currentline);
            for (var j = 0; j < headers.length; j++) {
                obj[headers[j]] = currentline[j];
            }
            result.push(obj);
        }
        //return result; //JavaScript object
        // вернем джисон и уберем лишние символы и их последовательности
        return JSON.stringify(result); //JSON
    }

    export default {
        name: "Positions",
        components: {
            // Company
        },

        // выполняем при монтирвании компонента
        mounted() {

            // при монитровании шаблона
            this.fetchPositions();
            // eslint-disable-next-line
            // console.log(this.companies);
        },

        // методы VUE
        methods: {

            editItem (item) {
                this.editedIndex = this.positions.indexOf(item);
                this.editedItem = Object.assign({}, item);
                this.dial = true;
            },

            deleteItem (item) {
                const index = this.positions.indexOf(item);
                if (confirm('Вы уверены что действительно хотите удалить эту строку?')) {
                    PositionsService.delete(item);
                    this.positions.splice(index, 1);
                }

            },

            // метод выбора данных с файла
            chooseFiles() {
                document.getElementById("fileUpload").click();
            },

            // метод отправки файла
            send() {
                // eslint-disable-next-line
                console.log();
                var file = document.getElementById("fileUpload").files[0];
                // eslint-disable-next-line
                console.log(file);
                this.upload(file);
            },

            // импортирование информации о должностях с CSV
            importPositions(event) {
                // eslint-disable-next-line
                console.log(event.target.files[0]);
                var data = this.upload(event.target.files[0]);
                // eslint-disable-next-line
                console.log("данные с файла" + data);
            },

            // Функция обработки файла после нажатия кнопки
            async upload(file) {
                var oFReader;
                var objs;
                // var obj = [];
                var json;

                if (file.type.match(/text\/csv/) || file.type.match(/vnd\.ms-excel/)) {
                    // if(file.type.match(/text\/csv/)){
                    oFReader = new FileReader();

                    oFReader.onloadend = function () {

                        // eslint-disable-next-line
                        console.log("ФАЙЛ ПОСЛЕ ЗАГРУЗКИ this.result ->");

// eslint-disable-next-line
                        console.log(this.result);

// eslint-disable-next-line
                        console.log("<-- ФАЙЛ ПОСЛЕ ЗАГРУЗКИ this.result");
                        // ********************************************************

                        json = csvJSON(this.result);
                        // eslint-disable-next-line
                        console.log("ФАЙЛ ПОСЛЕ ПАРСИНГА json ->");
// eslint-disable-next-line
                        console.log(json);
// eslint-disable-next-line
                        console.log("<-- ФАЙЛ ПОСЛЕ ПАРСИНГА json");

                        // ********************************************************

                        objs = JSON.parse(json);
// eslint-disable-next-line
                        console.log("ФАЙЛ ПОСЛЕ ПРИВЕДЕНИЯ К ТИПУ Object objs ->");
// eslint-disable-next-line
                        console.log(objs);
// eslint-disable-next-line
                        console.log("<-- ФАЙЛ ПОСЛЕ ПРИВЕДЕНИЯ К ТИПУ Object objs");

                        // TODO:  полезная ссылка https://github.com/axios/axios/issues/1195
                        // INFO:

                        // for (const value of objs) {
                        // console.log(value);
                        // obj.push(value);
                        //console.log(obj);
                        // console.log(JSON.stringify(Object.assign({}, console.log(value))));
                        // obj.push(JSON.stringify(Object.assign({}, value)));
                        // }

                        // var objs1 = JSON.stringify(Object.assign({}, objs));
                        // console.log("<asasas>");
                        // console.log(objs1);
                        //
                        console.log("FeTCH");

                        // Добавление записей из файла со списком


                        var send = PositionsService.post(objs);

                        console.log("*******************");
                        console.log(send);
                        console.log("*******************");

                        // this.fetchPositions();
                        // objs = null;
                        // this.$router.push({
                        //     name: "positions" //после нажатия кнопки перекидываем на роут
                        // });

                        // fetch("http://localhost:8081/position", {
                        //     method: "GET",
                        //     headers: {
                        //         "Content-Type": "application/json"
                        //     },
                        //     // body: json
                        //     body: json
                        // }).finally(function () {
                        //     // TODO: не работает наладить
                        //     this.fetchPositions();
                        //
                        // });
                        //console.log("POSITION SERVICE");
                        //PositionsService.post(json);
                    };

                    oFReader.readAsText(file);
                    //this.fetchPositions();
                } else {
                    // eslint-disable-next-line
                    console.log("Файл не похож на CSV");
                }
            },

            // выборка данных о должностях с базы данных
            async fetchPositions(val) {
                // eslint-disable-next-line
                console.log("ИНФОРМАЦИЯ ПОЛУЧЕНА В ОТВЕТ НА ЗАПРОС -->");

                // eslint-disable-next-line
                console.log(val);
                // eslint-disable-next-line
                console.log("<-- ИНФОРМАЦИЯ ПОЛУЧЕНА В ОТВЕТ НА ЗАПРОС");

                await PositionsService.index(val)
                    .then(response => {
                        return (this.positions = response.data);
                    });

                console.log(this.positions);
            },

            // добавление должности в базу данных
            // TODO: нужно добавить обработку отсутствия ответа API
            async positionadd() {
                // await PositionsService.post(this.nme).data;

                const areaAllFieldsfilledIn = !!this.position.name;
                if (!areaAllFieldsfilledIn) {
                    this.error = "пожалуйста заполните все необходимые поля";
                    this.dialog = true;
                    return;
                }
                try {
                    // eslint-disable-next-line
                    console.log("НА ТЕКУЩИЙ МОМЕНТ this.position -->");
                    // eslint-disable-next-line
                    console.log(this.position);
                    // eslint-disable-next-line

                    console.log("<-- НА ТЕКУЩИЙ МОМЕНТ this.position");
                    // отправляем данные на бэкенд
                    await PositionsService.post(this.position);

                    await this.fetchPositions();
                    await this.$router.push({
                        name: "positions" //после нажатия кнопки перекидываем на роут
                    });
                } catch (err) {
                    // eslint-disable-next-line
                    console.log(err);
                }
            },

        },

        data: () => ({

            dial: false,
            uploader:false,

            // данные для фильтра
            filters: {
                search: ""
            },

            // заголовки колонок таблицы
            headers: [
                {text: "ID", value: "id", align: "left"},
                {text: "Наименование", value: "name", align: "left"},
                {text: "Руководящая должность", value: "is_leader", align: "left"},
                { text: 'Actions', value: 'action', sortable: false },
            ],

            // данные таблицы должностей
            positions: [],

            position: {
                name: "",
                is_leader: false
            },
            rowsPerPage: 10,
            pagination: {},
            required: value => !!value || "Обязательно к заполнению."
        })
    };
</script>

<style scoped>
    .test {
        background-color: brown;
    }
</style>
